@charset "UTF-8";


.menu-item-checked >span {
	cursor: pointer;
}
.menu-item:hover >span {
    background: linear-gradient(to top, #FFFF92 40%, #FAFAFA 60%);
    color: #202020;
    pointer-events: none;
}

.boookcard-view-box, .bookcard-view-info>button{
	cursor: pointer;
}

.quickmenu{
	position: absolute;
	top: 15rem;
	right: calc(50% - 72rem);
    z-index: 20;
	
}
.quickmenu-title{
    width: 10rem;
    min-height: 2.4rem;
    background-color: rgb(35,122,246);
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--white);
    text-align: center;
    line-height: 4rem;
}

.quickmenu-contianer{
	height: 50rem;
	background-color: var(--white);